<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B.E in Computer Science and Engineering</h1>
            <span>The National Institute of Engineering</span>
            <span><address>Mysore, India</address><time>2015 to 2019</time></span>
        </header>
      
    </article>
    <article>
        <header>
            <h1>Pre-University</h1>
            <span>Karnataka State Board</span>
            <span><address>Mysore, India</address><time>2013 to 2016</time></span>
        </header>
        <p>
            <em>Majors : Physics, Chemistry, Mathematics</em>
        </p>
    </article>
</section>
