<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Designer II</h1>
            <span><address>Micro Focus, Bangalore</address><time>Sep 2021 to Present</time></span>
        </header>
        <p>Working as a Java developer in migrating application server from jboss to wildfly for the products </p>
           
    </article>
    <article>
        <header>
            <h1>Software Designer I</h1>
            <span><address>Micro Focus, Bangalore</address><time>Aug 2019 to Aug 2021</time></span>
        </header>
        <p>Involed in designing and development of REST APIs in Java for the performance troubleshooting product<ul>
            <li></li>  Implemented solutions to reduce the response time of APIs from 25s to 6s using effective DB queries and caching.</li>
            <li> Worked on deployment of container-based software suites on cloud (Azure) and on-premise with kubernetes and helm charts.</li>
             <li> Mentored new joiners in acclimating to the product and technologies.</li>
                 <li> Received multiple accolades from team leads and managers leading to an early promotion in August 2021. </li>
                 </ul><p></p>
    </article>
    <article>
        <header>
            <h1>Intern</h1>
            <span><address>Micro Focus, Bangalore</address><time>Jan 2019 to Aug 2019</time></span>
        </header>
        <p>Built a model to predict the execution time of a scheduled task in a distributed computing environment using clustering and linear
            regression on historical data of the times of the tasks and device profiles</p>
    </article>
    <article>
        <header>
             <h1>Intern</h1>
            <span><address>mcg.ai, Mysore</address><time>Jun 2018</time></span>
        </header>
        <p> Worked on developing a proof-of-concept for a retail shopping assistant to browse and fetch data based on voice commands using
            Java and wit.ai
            </p>
    </article>
 
</section>
