<section class="thirteen columns">
    <h1>Responsibilities and Achievements</h1>
    <article>
        <header>
            <h1>Mentor, Sushiksha</h1>
           <i><p>Sushiksha is an alumni-driven mentoring program by World Konkani Centre (WKC) aiming to foster a community of self-driven, world
                class engineers and leaders</p></i>
            <span><address>VKSSF, World Konkani Centre</address><time>2020 - Present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Grace Hopper Student Scholarship</h1>
            <span><address>Anita Borg Institute</address><time>2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Secretary of Women in Engineering</h1>
            <span><address>NIE IEEE Student Branch</address><time>2017 - 2018</time></span>
        </header>
    </article>
</section>